<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-6">
      <div class="card">
          <img class="card-img-top" src="/assets/resources/images/play_cards.jpg" style="max-width: 280px;" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">SEIZOENSFINALE</h4>
          <p class="card-text">Belangrijkste wedstrijd van het seizoen in het bijzijn van haaghurkers (buxus)</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6">
      <div class="card">
        <img class="card-img-top" src="/assets/resources/images/play_cards.jpg" style="max-width: 280px;" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">KORTRIJKS TORNOOI</h4>
          <p class="card-text">14 juli 2017</p>
          <p class="card-text">Belangrijkste wedstrijd van het seizoen in het bijzijn van haaghurkers (buxus)</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6">
      <div class="card">
        <img class="card-img-top" src="/assets/resources/images/play_cards.jpg" style="max-width: 280px;" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">GONOROE-UITWISSELING</h4>
          <p class="card-text">Op uitdrukkelijk verzoek van onze secretaris Arnold.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>



<!--
<div class="card-deck">
  <div class="card">
    <div style="text-align: center;">
    <img class="card-img-top" src="/assets/resources/images/play_cards.jpg" style="max-width: 200px;" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
-->
