@import '../../../assets/resources/styles/base';

#banner {
  height: 220px;
  opacity: 0.6;
  margin-top:2.3rem;
  background-color: #8f7149;
  text-align: center;
  z-index: -9000;
}

#bannerText {
  font-family: $font;
  font-size: 5em;
  font-weight: 800;
  color: $white;
}
