@import '../../../assets/resources/styles/base';

#banner {
  width:100%;
  height: 220px;
  opacity: 0.6;
  margin-top:1em;
  background-color: lightblue;
}

#bannerText {
  font-family: $font;
  font-size: 5em;
  font-weight: 800;
  color: $white;
}
