nav {
  text-align: right;
  margin-right: 5px;
  margin-top:20px;
}

nav > a:link,a:visited {
  font-family: Arial;
  font-size: 1.2em;
  margin-right: 1.5em;
  text-decoration: none;
}

nav > a:link, a:visited, a:hover {
  color: #206BA4;
}
